<ion-header>
  <ion-toolbar>
    <ion-title>Auth App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="email" formControlName="email">
      </ion-input>
      <ion-note
          slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors"
          >Email is invalid!</ion-note
        >
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="password"
        formControlName="password"
      >
      </ion-input>
      <ion-note
          slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors"
          >Password needs to be minimum of eight characters and max of
          24!</ion-note
        >
    </ion-item>

    <!-- !credentials = if credentials are valid = login -->
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log In</ion-button>
    <ion-button type="button" expand="block" color="secondary" (click)="register()">Create Account</ion-button>
  </form>
</ion-content>
